################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySales/.vs
/MySales/MySales/obj
/MySales/MySales.Application/obj
/MySales/MySales.Domain/obj
/MySales/MySales.Infrastructure/obj
/src/.vs
/src/MySales/obj
/src/MySales.Application/obj
/src/MySales.Domain/obj
/src/MySales.Infrastructure/obj
/src/MySales/bin/Debug/net7.0
/src/MySales.Infrastructure/bin/Debug/net7.0
/src/MySales.Application/bin/Debug/net7.0
/src/MySales.Domain/bin/Debug/net7.0
