################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySales/.vs
/MySales/MySales/obj
/MySales/MySales.Application/obj
/MySales/MySales.Domain/obj
/MySales/MySales.Infrastructure/obj
